// セクションのテキストグループコンポーネント
@mixin txt-group($state, $ttl-font-size) {
  .#{$state}-ttl {
    font-size: $ttl-font-size;
    font-weight: bold;
  }
  .#{$state}-sub-ttl {
    font-size: 20px;
    margin-top: 8px;
    @include mq-down(md){
      font-size: 16px;
    }
  }
  .#{$state}-txt {
    margin-top: 32px;
    line-height: 32px;
    @include mq-down(md){
      font-size: 16px;
    }
  }
}

nav{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 60px;
  background: black;
  opacity: 60%;
}

.top {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  @include mq-down(md){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:before {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(/asset/top/top-image.jpg);
    filter: brightness(60%);
    z-index: -1;
  }
  .top-txt-group {
    display: grid;
    row-gap: 16px;
    color: $white;
    padding: 300px 0px 0px 100px;
    transition: 1.0s;
    @include mq-down(md) {
      padding: 0px;
      text-align: center;
    }
    .top-ttl {
      font-size: 64px;
      font-weight: bold;
      opacity: 0;
      @include mq-down(md){
        font-size: 48px;
      }
    }
    .top-txt {
      font-size: 24px;
      opacity: 0;
    }
  }
  .top-scroll-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    z-index: 999;
    background: $white;
    opacity: 0.3;
    color: black;
    padding: 15px 40px;
    }
}

.concept {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  &:before {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(/asset/concept/concept-bg.png);
    background-size: cover;
    filter: brightness(40%);
    z-index: -1;
  }
  .concept-txtbox {
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 0 20px;
    @include txt-group(concept, 56px);
    .concept-ttl,
    .concept-sub-ttl,
    .concept-txt {
      opacity: 0;
    }
  }
}

.obsession { 
  width: 100vw;
  margin-top: 80px;
  .coffee {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 560px;
    z-index: 0;
    &:before {
      @include U_cardSlide();
      content: '';
      position: absolute;
      height: 100%;
      background: $bg-color;
      z-index: -1;
    }
    .coffee-txt-group {
      padding: 104px 0px 0px 80px;
      @include txt-group(coffee, 40px);
      @include U_OpacityChange(1.5s, 0.3s);
    }
    .coffee-img {
      width: 560px;
      height: 380px;
      margin-top: 124px;
      margin-left: 200px;
      @include U_OpacityChange(1.5s, 0.3s);
    }
  }
  .obsession-section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 560px;
    margin-top: 80px;
    z-index: 0;
    &:before {
      @include U_cardSlide();
      content: '';
      position: absolute;
      height: 100%;
      background: $bg-color;
      z-index: -1;
    }
    .obsession-txt-group {
      padding: 104px 0px 0px 80px;
      @include txt-group(obsession, 40px);
      @include U_OpacityChange(1.5s, 0.3s);
    }
    .obsession-img {
      width: 560px;
      height: 380px;
      margin-top: 124px;
      @include U_OpacityChange(1.5s, 0.3s);
    }
  }

}

.menu {
  display: flex;
  flex-direction: column;
  padding: 120px 0px 0px;
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
  color: $txt-color;
  .menu-ttl {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
  }
  .menu-card-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 56px;
    .blend-coffee-items {
        display: flex;
        flex-direction: column;
      .blend-coffee-img {
        width: 355px;
        height: 255px;
        box-shadow: 10px 10px #EBEBEB;
      }
      .blend-coffee-ttl {
        font-size: 20px;
        font-weight: bold;
        margin-top: 24px;
      }
      .blend-coffee-txt {
        font-size: 16px;
      }
    }
  }
}

.access {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  color: $txt-color;
  padding: 120px 20px 0px;
  .access-ttl {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
  }
  .access-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 56px;
      .access-group-ttl{
        font-size: 40px;
        font-weight: bold;
      }
      .access-txt-list {
        display: grid;
        row-gap: 20px;
        margin-top: 40px;
      }
    .access-map {
      width: 100%;
      max-width: 640px;
      min-height: 480px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  margin-top: 80px;
  background: $bg-color;
  font-size: 24px;
}